<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBThemeArtist</key>
	<string>Na Wong</string>
	<key>BBArtistURL</key>
	<string>http://nadesign.net</string>
	<key>BBThemeIdentifier</key>
	<string>net.na.light</string>
	<key>BBThemeName</key>
	<string>Light</string>
	<key>BBThemeVersion</key>
	<string>1.8.1</string>
	<key>BBMainFile</key>
	<string>theme.html</string>
	<key>BBThemePreviewFile</key>
	<string>template.html</string>
</dict>
</plist>