[submodule "n2n"]
	path = n2n
	url = git://github.com/fishman/n2n.git
[submodule "tuntaposx"]
	path = tuntaposx
	url = git://github.com/fishman/tuntaposx.git
[submodule "External/cocoaoniguruma"]
	path = External/cocoaoniguruma
	url = git://github.com/psychs/cocoaoniguruma.git
[submodule "External/cocoaasyncsocket"]
	path = External/cocoaasyncsocket
	url = git://github.com/fishman/cocoaasyncsocket.git
[submodule "External/three20"]
	path = External/three20
	url = git://github.com/facebook/three20.git
